<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<h1>Show one story</h1>
  <ul><%= stories.title %></ul>
  <ul><%= stories.initial_content %></ul>
<%-include("../partials/_footer")%>
