<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<h1>Show all contributions for one story</h1>

<% for (let contribution of contributions) { %>
  <ul><%= contribution.name %></ul>
  <ul><%= contribution.content %></ul>
  <% } %>

  <h3>Submit New Contribution</h3>
  <form action="/stories/<%= stories.id %>/contributions" method="POST">
    <div>
      <label for="contribution">Write Contribution Here</label>
      <input type="text" name="contribution" placeholder="What happens next?">
      <button type="submit">Submit</button>
    </div>
  </form>

<%-include("../partials/_footer")%>
