<%-include("../partials/_header")%>

  <div class="main">
    <section class="discover">
      <div class="container">
        <h2>Discover Stories</h2>
        <% for (let d of data) { %>
          <div class="storybox">
            <a href="/stories/<%=d.id%>">
              <div class="story_info">
                <div class="story_info_status">
                  <% if(!d.complete){%>
                    <div class="tooltip">
                      <img src="/images/open_book.png">
                      <span class="tooltiptext">In progress</span>
                    </div>
                  <% } else if (d.complete) { %>
                    <div class="tooltip">
                      <img src="/images/closed_book.png">
                      <span class="tooltiptext">Completed</span>
                    </div>
                  <%} else { '' }; %>
                </div>
                <div class="story_title">
                  <p>Title:<br><%=d.title%></p>
                </div>
              </div>
              <div class="creator">
                <div class="creator_avator">
                  <img src=<%=d.avatar%>>
                </div>
                <div class="creator_name">
                  <p>Created by <%=d.name%></p>
                </div>
              </div>
            </a>
          </div>
          <% } %>
    </section>
  </div>


  <%-include("../partials/_footer")%>
