<%-include("../partials/_header")%>

<div class="main stories_show">
  <div class="title_header">
    <div class="title">
      <p>Story Title: </p>
    </div>
    <h1><%= data[0].title %></h1>
  </div>
  <div class="story_header">
    <div class="header_elements">
      <div class="story_creator">
        <div class="story_avatar">
          <img class="avatar" src= <%= data[0].avatar %>>
        </div>
        <p><%= data[0].creator_name %></p>
      </div>
      <div class="status">
        <div class="status_icon">
          <!-- Complete vs. incomplete icons -->
          <% if(!data[0].complete){%>
            <div class="tooltip">
              <img src="/images/open_book.png" class="story_book">
              <span class="tooltiptext">Incomplete Story</span>
            </div>
          <% } else if (data[0].complete) { %>
            <div class="tooltip">
              <img src="/images/closed_book.png" class="story_book">
              <span class="tooltiptext">Finalized Story</span>
            </div>
          <%}%>
        </div>
        <div class="status_button">
          <!-- Complete Story Button (If user = creator, hard coded to users.id 1) -->
          <% if(data[0].user_id === 1 && !data[0].complete){%>
            <form action="/stories/<%=data[0].id%>" method="POST">
            <button class="button">Finalize Story</button>
            </form>
          <% }%>
        </div>
      </div>
    </div>
  </div>

  <div class="body_container">
    <div class="content_container">
      <div class="content">
        <!-- Initial content -->
        <p><%= data[0].initial_content %></p>

        <!-- Accepted contributions -->
        <% for (let d of data) { if(d.accepted){%>
        <p><%= d.content%></p>
        <%}}%>
      </div>
      <!-- Submit New Contribution -->
      <% if(!data[0].complete){%>
        <div class="submit_new">
          <form action="/stories/<%=data[0].id%>/contributions" method="POST">
            <label for="content"></label>
            <textarea name="content" placeholder="What happens next?"class="submit_contribution"></textarea>
            <button type="submit" class="button">Submit</button>
          </form>
        </div>
      <% }%>
    </div>


    <!-- Pending Submissions -->
    <div class="pending_subs">
      <div class="pending_copy">
        <p id="submissions">Pending Submissions</p>
      </div>
      <% for (let d of data) {%>
        <%if(d.content && !d.accepted && !d.archived && !data[0].complete){%>
          <div class="pending">
            <div class="contributor">
              <img class="avatar" src= <%= d.contributor_avatar %>>
              <p><%= d.contributor %></p>
            </div>
            <p><%= d.content %></p>
            <div class="likes_accept">
              <div class="votes">
                <% if(!data[0].complete){%>
                <form action="/stories/contributions/<%=d.contribution_id%>/vote" method="POST">
                  <input type="image" src="/images/heart.png" class="upvote">
                </form>
                <% }%>
                <p><%= d.votes %></p>
              </div>
              <% if(data[0].user_id === 1 && !data[0].complete){%>
                <form action="/stories/contributions/<%=d.contribution_id%>" method="POST">
                  <button class="button">Accept Contribution</button>
                </form>
              <%}%>
            </div>
          </div>
          <%}%>
      <% }%>
    </div>
  </div>
</div>

<%-include("../partials/_footer")%>
