<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<h1>Show all contributions for one story</h1>

<% for (let contribution of contributions) { %>
  <ul><%= contribution.user_name %></ul>
  <ul><%= contribution.content %></ul>
  <% } %>

<%-include("../partials/_footer")%>
