<%-include("../partials/_header")%>
<%-include("../partials/_navbar")%>

<h1>Show one story</h1>

  <h3><%= data[0].title %></h3>
  <h3><%= data[0].creator_name %></h3>
  <p><%= data[0].initial_content %></p>

  <% for (let d of data) { %>
  <p><%= d.content %></p>
  <% } %>

  <h3>Submit New Contribution</h3>
  <form action="/stories/<%=data[0].id%>/contributions" method="POST">
    <div>
      <label for="content">Write Contribution Here</label>
      <input type="text" name="content" placeholder="What happens next?">
      <button type="submit">Submit</button>
    </div>
  </form>

  <a href="/stories/<%= data[0].id %>/contributions">All pending contributions</a>

<%-include("../partials/_footer")%>
