<%-include("../partials/_header")%>

<div class="main">

<section class="discover">
  <div class="container">
  <h2>Discover Stories</h2>
<% for (let story of stories) { %>
    <div class="storybox">
      <a href="/stories/<%=story.id%>">@<%=story.name%><br><%=story.title%></a>

      <% if(!story.complete){%>
        <img src="/images/open_book.png">
        <% }
        else if (story.complete) { %>
          <img src="/images/closed_book.png">
      <%}
      else { '' }; %>
    </div>
  <% } %>
  </div>
</section>
</div>


<%-include("../partials/_footer")%>
