<%-include("../partials/_header")%>

<h1>Show one story</h1>

<h3><%= data[0].title %></h3>
<h3><%= data[0].creator_name %></h3>

<!-- Complete vs. incomplete icons -->
<% if(!data[0].complete){%>
<p>incomplete!</p>

</form>
<% } else if (data[0].complete) { %>
<p>complete!</p>
<%} else { '' }; %>

<!-- Complete Story Button (If user = creator, hard coded to users.id 1) -->
<% if(data[0].creator_id === "1"){%>
  <form action="/stories/<%=data[0].id%>" method="POST">
  <button>Finalize Story</button>
  <% } else { '' }; %>

<!-- Initial content -->
<p><%= data[0].initial_content %></p>

<!-- Accepted contributions -->
<% for (let d of data) { if(d.accepted){%>
<p><%= d.content%></p>
<%} else { '' }; }%>

<!-- Submit New Contribution -->

<% if(!data[0].complete){%>
<form action="/stories/<%=data[0].id%>/contributions" method="POST">
  <div>
    <label for="content">Write Contribution Here</label>
    <input type="text" name="content" placeholder="What happens next?" />
    <button type="submit">Submit</button>
  </div>
</form>
<% } else { '' }; %>

<!-- Pending Submissions -->

<% for (let d of data) { if(d.content && !d.accepted && !d.archived){%>
<div>
  <!-- <p>contributor name:<%= d.name %></p> -->
  <p>contribution content:<%= d.content %></p>
  <!-- <p>upvotes:<%= d.votes %></p> -->
  <p>contribution id:<%= d.id %></p>
  <p>votes:<%= d.votes %></p>
  <form action="/stories/contributions/<%=d.id%>" method="POST">
    <button>Accept Contribution</button>
  </form>
</div>
<%} else { '' }; }%>

<!-- Do we actually need this page now that we have everything here? -->
<a href="/stories/<%= data[0].id %>/contributions"
  >See All pending contributions</a
>

<%-include("../partials/_footer")%>
