<%-include("../partials/_header")%>

<div class="main">

<h1>Show all pending contributions for one story</h1>

<% for (let d of data) { %>
  <div>
    <p>contributor name:<%= d.name %></p>
    <p>contribution content:<%= d.content %></p>
    <p>upvotes:<%= d.votes %></p>
    <p>contribution id:<%= d.id %></p>
    <p>story id:<%= d.story_id %></p>
    <form action="/stories/contributions/<%=d.id%>" method="POST">
      <button>Accept Story</button>
    </form>
    <% } %>
  </div>

  <h3>Submit New Contribution</h3>
  <form action="/stories/<%=data[0].story_id%>/contributions" method="POST">
    <div>
      <label for="content">Write Contribution Here</label>
      <input type="text" name="content" placeholder="What happens next?">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<%-include("../partials/_footer")%>
