<%-include("../partials/_header")%>

<div class="main">

<div class="container">
  <div class="story_header">
    <h1><%= data[0].title %></h1>

    <h3>Author:</h3>
    <div class="story_author"></div>
      <img src= <%= data[0].avatar %>>
      <p><%= data[0].creator_name %></p>
    </div>
  </div>

<!-- Complete vs. incomplete icons -->
<% if(!data[0].complete){%>
  <img src="/images/open_book.png">


<% } else if (data[0].complete) { %>
  <img src="/images/closed_book.png">
<%} else { '' }; %>

<!-- Complete Story Button (If user = creator, hard coded to users.id 1) -->
<% if(data[0].user_id === 1 && !data[0].complete){%>
  <form action="/stories/<%=data[0].id%>" method="POST">
  <button>Finalize Story</button>
  </form>
  <% } else { '' }; %>

<!-- Initial content -->
<p><%= data[0].initial_content %></p>

<!-- Accepted contributions -->
<% for (let d of data) { if(d.accepted){%>
  <p><%= d.content%></p>
<%} else { '' }; }%>

<!-- Submit New Contribution -->

<% if(!data[0].complete){%>
<form action="/stories/<%=data[0].id%>/contributions" method="POST">
  <div>
    <label for="content">Write Contribution Here</label>
    <input type="text" name="content" placeholder="What happens next?" />
    <button type="submit">Submit</button>
  </div>
</form>
<% } else { '' }; %>

<!-- Pending Submissions -->
<% for (let d of data) {
  if(d.content && !d.accepted && !d.archived && !data[0].complete){%>
<div>
  <p>contributor: <%= d.contributor %></p>
  <p>contribution content:<%= d.content %></p>
  <p>votes:<%= d.votes %></p>

  <% if(!data[0].complete){%>
  <form action="/stories/contributions/<%=d.contribution_id%>/vote" method="POST">
    <button>Upvote Contribution</button>
  </form>
  <% } else { '' }; %>

  <% if(data[0].user_id === 1 && !data[0].complete){%>
    <form action="/stories/contributions/<%=d.contribution_id%>" method="POST">
      <button>Accept Contribution</button>
    </form>
  <% } else { '' }; %>
</div>
<%} else { '' }; }%>

</div>

</div>

<%-include("../partials/_footer")%>
