<%-include("../partials/_header")%>

<div class="main">
  <div class="user_stories">
    <div class="user_header">
      <h2><%= data[0].name %>'s Stories</h2>
    </div>

    <% for (let d of data) { %>
      <div class="storybox_large">
        <a href="/stories/<%=d.id%>">
          <% if(!d.complete){%>
            <img src="/images/open_book.png">
          <% }
          else if (d.complete) { %>
            <img src="/images/closed_book.png">
          <%}
          else { '' }; %>
          <p><%= d.title %></p>
        </a>
        </div>
    <% } %>
    </div>
  </div>
</div>

<%-include("../partials/_footer")%>
