<%-include("../partials/_header")%>

<div class="main">

  <div class="user_header">
    <h1><%= data[0].name %>'s Contributions</h1>
    <img src= <%= data[0].avatar %>>
  </div>

  <div class="contribution_card">
    <% for (let d of data) { %>
      <div>
        <p><%= d.content %></p>
      </div>
    <% } %>
  </div>
</div>

<%-include("../partials/_footer")%>
