<%-include("../partials/_header")%>

<div class="main">

  <div class="user_header">
    <h2><%= data[0].name %>'s Stories</h2>
  </div>

  <div class="user_stats">
    <div class="avatar">
      <img src=<%=data[0].avatar%>>
    </div>
    <div class="stats">

      <div class="stat">
        <img src="/images/book_stack.png">
        <p>Total Stories: <span class="stat_num"><%= stats[0].stories_total%></span></p>
      </div>
      <div class="stat">
        <img src="/images/closed_book.png">
        <p>Completed Stories: <span class="stat_num"><%= stats[0].stories_complete%></span></p>
      </div>
      <div class="stat">
        <img src="/images/open_book.png">
        <p>In-Progress Stories: <span class="stat_num"><%= stats[0].stories_in_progress%></span></p>
      </div>
    </div>
  </div>

  <div class="user_stories">
    <% for (let d of data) { %>
      <div class="storybox_large">
        <a href="/stories/<%=d.id%>">
          <div class="status_icon">
          <% if(!d.complete){%>
            <img src="/images/open_book.png">
          <% }
          else if (d.complete) { %>
            <img src="/images/closed_book.png">
          <%}
          else { '' }; %>
        </div>
        <div class="title"><p><%= d.title %></p></div>
        </a>
        </div>
    <% } %>
    </div>
  </div>
</div>
</div>

<%-include("../partials/_footer")%>
