<%-include("../partials/_header")%>

<div class="main">
  <div class="user_header">
    <h2><%= data[0].name %>'s Contributions</h2>
  </div>

  <div class="user_stats">
    <div class="avatar">
      <img src=<%=data[0].avatar%>>
    </div>
    <div class="stats">

      <div class="stat">
        <img src="/images/pencil.png">
        <p>Total Contributions: <span class="stat_num"><%= stats[0].contributions_total%></span></p>
      </div>
      <div class="stat">
        <img src="/images/success.png">
        <p>Accepted Contributions: <span class="stat_num"><%= stats[0].contributions_accepted%></span></p>
      </div>
      <div class="stat">
        <img src="/images/closed_book.png">
        <p>Archived Contributions: <span class="stat_num"><%= stats[0].contributions_archived%></span></p>
      </div>
    </div>
  </div>

  <div class="contribution_box">
    <% for (let d of data) { %>
      <div class="contribution">
        <a href="/stories/<%=d.story_id%>">
        <div class="status_icon">
          <% if(d.accepted){%>
            <img src="/images/success.png">
            <% }
          else { '' };
          if(d.archived){%>
            <img src="/images/closed_book.png">
            <% }
          else { '' };
          if(!d.accepted && !d.archived){%>
            <img src="/images/pencil.png">
            <% }
          else { '' }; %>
        </div>
        <div class="content">
          <p><%= d.content %></p>
        </div>
          <div class="upvotes">
            <img src="/images/heart.png">
            <% if(d.votes){%>
              <p><%= d.votes%></p>
              <% }
              else if(!d.votes){%>
                <p>0</p>
                <% }
              else { '' }; %>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
</div>

<%-include("../partials/_footer")%>
